# dispatch files that are not ready
dispatch

#Exercises that are not done yet

#Project that are not done yet, the environment loading has some unsolved problem
/LectureProjects/p5

#Reflections files not ready yet
CodingNotes.org
course

# output logs
*.out